iflow-editor/src/main/resources/pt/iknow/floweditor/blocks/dataProcessing/operations.dtd

<!-- List of operations-->
<!ELEMENT operations (operation+)>
<!-- Operation representation.-->
<!ELEMENT operation (field*)>
<!ATTLIST operation
	code CDATA #REQUIRED
	label CDATA #IMPLIED
	labelkey CDATA #IMPLIED
	class CDATA #IMPLIED>
<!-- Field representation.-->
<!ELEMENT field EMPTY>
<!ATTLIST field
	type (expression|catalog|any|array|scalar) #REQUIRED
	name CDATA #REQUIRED
	label CDATA #IMPLIED
	labelkey CDATA #IMPLIED>
	