iflow-extensions/cmabrantes/cmabrantes-home/repository_data/1/WSDL/WS_Localizacoes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:microsoft-dynamics-schemas/page/ws_localizacoes"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/page/ws_localizacoes">
	<types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:microsoft-dynamics-schemas/page/ws_localizacoes"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="WS_Localizacoes">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="Key"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Code"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Name"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WS_Localizacoes_List">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="WS_Localizacoes"
						type="tns:WS_Localizacoes" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WS_Localizacoes_Fields">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Code" />
					<xsd:enumeration value="Name" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="WS_Localizacoes_Filter">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Field"
						type="tns:WS_Localizacoes_Fields" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Criteria"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Read">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Code"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Read_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="WS_Localizacoes"
							type="tns:WS_Localizacoes" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded" name="filter"
							type="tns:WS_Localizacoes_Filter" />
						<xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey"
							type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="setSize"
							type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="ReadMultiple_Result" type="tns:WS_Localizacoes_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="IsUpdated_Result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="Read">
		<part name="parameters" element="tns:Read" />
	</message>
	<message name="Read_Result">
		<part name="parameters" element="tns:Read_Result" />
	</message>
	<message name="ReadMultiple">
		<part name="parameters" element="tns:ReadMultiple" />
	</message>
	<message name="ReadMultiple_Result">
		<part name="parameters" element="tns:ReadMultiple_Result" />
	</message>
	<message name="IsUpdated">
		<part name="parameters" element="tns:IsUpdated" />
	</message>
	<message name="IsUpdated_Result">
		<part name="parameters" element="tns:IsUpdated_Result" />
	</message>
	<portType name="WS_Localizacoes_Port">
		<operation name="Read">
			<input name="Read" message="tns:Read" />
			<output name="Read_Result" message="tns:Read_Result" />
		</operation>
		<operation name="ReadMultiple">
			<input name="ReadMultiple" message="tns:ReadMultiple" />
			<output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
		</operation>
		<operation name="IsUpdated">
			<input name="IsUpdated" message="tns:IsUpdated" />
			<output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
		</operation>
	</portType>
	<binding name="WS_Localizacoes_Binding" type="tns:WS_Localizacoes_Port">
		<binding transport="http://schemas.xmlsoap.org/soap/http"
			xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		<operation name="Read">
			<operation soapAction="urn:microsoft-dynamics-schemas/page/ws_localizacoes:Read"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Read">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Read_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="ReadMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_localizacoes:ReadMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="ReadMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="ReadMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="IsUpdated">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_localizacoes:IsUpdated"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="IsUpdated">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="IsUpdated_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
	</binding>
	<service name="WS_Localizacoes_Service">
		<port name="WS_Localizacoes_Port" binding="tns:WS_Localizacoes_Binding">
			<address
				location="http://192.168.1.19:7047/DynamicsNAV/WS/Cidadela/Page/WS_Localizacoes?wsdl"
				xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		</port>
	</service>
</definitions>