iflow-extensions/cmabrantes/cmabrantes-home/repository_data/1/WSDL/WS_Registo_Assiduidade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade">
	<types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="Post_Type">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Real" />
					<xsd:enumeration value="Planned" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Status">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Open" />
					<xsd:enumeration value="Released" />
					<xsd:enumeration value="Pending_Approval" />
					<xsd:enumeration value="Pending_Prepayment" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Type">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="_blank_" />
					<xsd:enumeration value="Assiduity" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Assiduity_Doc_Line_Line">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="Key"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Type"
						type="tns:Type" />
					<xsd:element minOccurs="0" maxOccurs="1" name="No"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Description"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="Unit_Of_Measure_Code" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Employee_No"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Employee_Name"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Begin_Date"
						type="xsd:date" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Begin_Hour"
						type="xsd:time" />
					<xsd:element minOccurs="0" maxOccurs="1" name="End_Date"
						type="xsd:date" />
					<xsd:element minOccurs="0" maxOccurs="1" name="End_Hour"
						type="xsd:time" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Quantity"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Qty_Util_Days"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Observations"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="txtDisponibilidade" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Assiduity_Doc_Line_Line_List">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded"
						name="Assiduity_Doc_Line_Line" type="tns:Assiduity_Doc_Line_Line" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WS_Registo_Assiduidade">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="Key"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="No"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Description"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="External_Document_No" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="Responsibility_Center" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Post_Type"
						type="tns:Post_Type" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date"
						type="xsd:date" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Document_Date"
						type="xsd:date" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="Creation_DateTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Status"
						type="tns:Status" />
					<xsd:element minOccurs="0" maxOccurs="1" name="User_ID"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="Shortcut_Dimension_1_Code" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="Shortcut_Dimension_2_Code" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="SubformLinhas"
						type="tns:Assiduity_Doc_Line_Line_List" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WS_Registo_Assiduidade_List">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded"
						name="WS_Registo_Assiduidade" type="tns:WS_Registo_Assiduidade" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="WS_Registo_Assiduidade_Fields">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="No" />
					<xsd:enumeration value="Description" />
					<xsd:enumeration value="External_Document_No" />
					<xsd:enumeration value="Responsibility_Center" />
					<xsd:enumeration value="Post_Type" />
					<xsd:enumeration value="Posting_Date" />
					<xsd:enumeration value="Document_Date" />
					<xsd:enumeration value="Creation_DateTime" />
					<xsd:enumeration value="Status" />
					<xsd:enumeration value="User_ID" />
					<xsd:enumeration value="Shortcut_Dimension_1_Code" />
					<xsd:enumeration value="Shortcut_Dimension_2_Code" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="WS_Registo_Assiduidade_Filter">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="Field"
						type="tns:WS_Registo_Assiduidade_Fields" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Criteria"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Read">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="No"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Read_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="WS_Registo_Assiduidade" type="tns:WS_Registo_Assiduidade" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded" name="filter"
							type="tns:WS_Registo_Assiduidade_Filter" />
						<xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey"
							type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="setSize"
							type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="ReadMultiple_Result" type="tns:WS_Registo_Assiduidade_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IsUpdated_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="IsUpdated_Result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade" type="tns:WS_Registo_Assiduidade" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Create_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade" type="tns:WS_Registo_Assiduidade" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade_List" type="tns:WS_Registo_Assiduidade_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade_List" type="tns:WS_Registo_Assiduidade_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade" type="tns:WS_Registo_Assiduidade" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade" type="tns:WS_Registo_Assiduidade" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade_List" type="tns:WS_Registo_Assiduidade_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMultiple_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="WS_Registo_Assiduidade_List" type="tns:WS_Registo_Assiduidade_List" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Key"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete_SubformLinhas">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="SubformLinhas_Key" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete_SubformLinhas_Result">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Delete_SubformLinhas_Result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="Read">
		<part name="parameters" element="tns:Read" />
	</message>
	<message name="Read_Result">
		<part name="parameters" element="tns:Read_Result" />
	</message>
	<message name="ReadMultiple">
		<part name="parameters" element="tns:ReadMultiple" />
	</message>
	<message name="ReadMultiple_Result">
		<part name="parameters" element="tns:ReadMultiple_Result" />
	</message>
	<message name="IsUpdated">
		<part name="parameters" element="tns:IsUpdated" />
	</message>
	<message name="IsUpdated_Result">
		<part name="parameters" element="tns:IsUpdated_Result" />
	</message>
	<message name="Create">
		<part name="parameters" element="tns:Create" />
	</message>
	<message name="Create_Result">
		<part name="parameters" element="tns:Create_Result" />
	</message>
	<message name="CreateMultiple">
		<part name="parameters" element="tns:CreateMultiple" />
	</message>
	<message name="CreateMultiple_Result">
		<part name="parameters" element="tns:CreateMultiple_Result" />
	</message>
	<message name="Update">
		<part name="parameters" element="tns:Update" />
	</message>
	<message name="Update_Result">
		<part name="parameters" element="tns:Update_Result" />
	</message>
	<message name="UpdateMultiple">
		<part name="parameters" element="tns:UpdateMultiple" />
	</message>
	<message name="UpdateMultiple_Result">
		<part name="parameters" element="tns:UpdateMultiple_Result" />
	</message>
	<message name="Delete">
		<part name="parameters" element="tns:Delete" />
	</message>
	<message name="Delete_Result">
		<part name="parameters" element="tns:Delete_Result" />
	</message>
	<message name="Delete_SubformLinhas">
		<part name="parameters" element="tns:Delete_SubformLinhas" />
	</message>
	<message name="Delete_SubformLinhas_Result">
		<part name="parameters" element="tns:Delete_SubformLinhas_Result" />
	</message>
	<portType name="WS_Registo_Assiduidade_Port">
		<operation name="Read">
			<input name="Read" message="tns:Read" />
			<output name="Read_Result" message="tns:Read_Result" />
		</operation>
		<operation name="ReadMultiple">
			<input name="ReadMultiple" message="tns:ReadMultiple" />
			<output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
		</operation>
		<operation name="IsUpdated">
			<input name="IsUpdated" message="tns:IsUpdated" />
			<output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
		</operation>
		<operation name="Create">
			<input name="Create" message="tns:Create" />
			<output name="Create_Result" message="tns:Create_Result" />
		</operation>
		<operation name="CreateMultiple">
			<input name="CreateMultiple" message="tns:CreateMultiple" />
			<output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
		</operation>
		<operation name="Update">
			<input name="Update" message="tns:Update" />
			<output name="Update_Result" message="tns:Update_Result" />
		</operation>
		<operation name="UpdateMultiple">
			<input name="UpdateMultiple" message="tns:UpdateMultiple" />
			<output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
		</operation>
		<operation name="Delete">
			<input name="Delete" message="tns:Delete" />
			<output name="Delete_Result" message="tns:Delete_Result" />
		</operation>
		<operation name="Delete_SubformLinhas">
			<input name="Delete_SubformLinhas" message="tns:Delete_SubformLinhas" />
			<output name="Delete_SubformLinhas_Result" message="tns:Delete_SubformLinhas_Result" />
		</operation>
	</portType>
	<binding name="WS_Registo_Assiduidade_Binding" type="tns:WS_Registo_Assiduidade_Port">
		<binding transport="http://schemas.xmlsoap.org/soap/http"
			xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		<operation name="Read">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:Read"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Read">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Read_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="ReadMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:ReadMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="ReadMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="ReadMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="IsUpdated">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:IsUpdated"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="IsUpdated">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="IsUpdated_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Create">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:Create"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Create">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Create_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="CreateMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:CreateMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="CreateMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="CreateMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Update">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:Update"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Update">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Update_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="UpdateMultiple">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:UpdateMultiple"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="UpdateMultiple">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="UpdateMultiple_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Delete">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:Delete"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Delete">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Delete_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
		<operation name="Delete_SubformLinhas">
			<operation
				soapAction="urn:microsoft-dynamics-schemas/page/ws_registo_assiduidade:Delete_SubformLinhas"
				style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<input name="Delete_SubformLinhas">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</input>
			<output name="Delete_SubformLinhas_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</output>
		</operation>
	</binding>
	<service name="WS_Registo_Assiduidade_Service">
		<port name="WS_Registo_Assiduidade_Port" binding="tns:WS_Registo_Assiduidade_Binding">
			<address
				location="http://192.168.1.19:7047/DynamicsNAV/WS/Cidadela/Page/WS_Registo_Assiduidade?wsdl"
				xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
		</port>
	</service>
</definitions>