iflow-home/repository_data/1/WSDL/SAPEmpresas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ano" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaEmpresaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEmpresaPcg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdEmpresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEmpresaPcgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaEmpresaPcgResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaEmpresa" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaPcgSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaEmpresaPcg" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaPcgSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaEmpresaPcgResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaHttpGetIn">
    <wsdl:part name="IdEmpresa" type="s:string" />
    <wsdl:part name="ano" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaPcgHttpGetIn">
    <wsdl:part name="IdEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaPcgHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaHttpPostIn">
    <wsdl:part name="IdEmpresa" type="s:string" />
    <wsdl:part name="ano" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaPcgHttpPostIn">
    <wsdl:part name="IdEmpresa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaEmpresaPcgHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ConsultaEmpresa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Empresas SAP</wsdl:documentation>
      <wsdl:input message="tns:ConsultaEmpresaSoapIn" />
      <wsdl:output message="tns:ConsultaEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Empresas SAP PCG</wsdl:documentation>
      <wsdl:input message="tns:ConsultaEmpresaPcgSoapIn" />
      <wsdl:output message="tns:ConsultaEmpresaPcgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="ConsultaEmpresa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Empresas SAP</wsdl:documentation>
      <wsdl:input message="tns:ConsultaEmpresaHttpGetIn" />
      <wsdl:output message="tns:ConsultaEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Empresas SAP PCG</wsdl:documentation>
      <wsdl:input message="tns:ConsultaEmpresaPcgHttpGetIn" />
      <wsdl:output message="tns:ConsultaEmpresaPcgHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="ConsultaEmpresa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Empresas SAP</wsdl:documentation>
      <wsdl:input message="tns:ConsultaEmpresaHttpPostIn" />
      <wsdl:output message="tns:ConsultaEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Empresas SAP PCG</wsdl:documentation>
      <wsdl:input message="tns:ConsultaEmpresaPcgHttpPostIn" />
      <wsdl:output message="tns:ConsultaEmpresaPcgHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaEmpresa">
      <soap:operation soapAction="http://tempuri.org/ConsultaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <soap:operation soapAction="http://tempuri.org/ConsultaEmpresaPcg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaEmpresa">
      <soap12:operation soapAction="http://tempuri.org/ConsultaEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <soap12:operation soapAction="http://tempuri.org/ConsultaEmpresaPcg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultaEmpresa">
      <http:operation location="/ConsultaEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <http:operation location="/ConsultaEmpresaPcg" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultaEmpresa">
      <http:operation location="/ConsultaEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpresaPcg">
      <http:operation location="/ConsultaEmpresaPcg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://infosapsog.sogenave.pt/SAPEmpresas/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://infosapsog.sogenave.pt/SAPEmpresas/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://infosapsog.sogenave.pt/SAPEmpresas/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://infosapsog.sogenave.pt/SAPEmpresas/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
